@import "tailwindcss";

/* 
max-w-3xl   → 768px
max-w-5xl   → 1024px
max-w-6xl   → 1152px
max-w-7xl   → 1280px
max-w-screen-2xl → 1536px
*/

@theme {
  --color-content-primary: #ffffff;
  --color-content-secondary: #c7c9cc;
  --color-content-tertiary: #d9d9d9;
  --color-content-brand: #C58DE7;
  --color-inverse: #030203;

  --color-bg-primary: #020202;
  --color-bg-secondary: #111012;
  --color-bg-tertiary: #24222e;
  --color-bg-brand: #C58DE7;
  --color-bg-gray: #3d3d3d;

  --color-accent-pink: #d586e0;
  --color-accent-blue: #91a1fa;
  --color-accent-green: #77c0af;
  --color-accent-lime: #d1dc97;
  --color-accent-ted: #e9a9b3;

  --gradient-border: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-bg: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);
  --gradient-content: linear-gradient(#c7c9cc 0%, #3d3d3d 100%);
  --gradient-body: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, .6) 100%);

  --shape-image: url('./public/images/shapes.png');
}

@layer base {
  @font-face {
    font-family: 'Roboto Flex';
    src: url('./public/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('./public/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sora';
    src: url('./public/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Sora', sans-serif;
    color: var(--color-content-primary);
  }

  .container {
    width: 100%;
    max-width: theme(maxWidth.7xl);
    margin-inline: auto;
  }
}

@layer components {
  .input-settings {
    @apply bg-bg-secondary h-14 w-21.5 rounded-lg px-2 text-center text-3xl;
  }

  .label-settings {
    @apply text-content-secondary font-roboto text-base font-bold uppercase;
  }

  .ns-toggle {
    @apply flex items-center gap-2 cursor-pointer;
  }

  .ns-toggle input {
    @apply sr-only;
  }

  .ns-slider {
    @apply relative inline-block h-5 w-8 rounded-full bg-content-tertiary transition-colors duration-200;
  }

  .ns-slider::after {
    content: "";
    @apply absolute top-1/2 left-2.5 aspect-square w-3.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white transition-all duration-200;
  }

  .ns-toggle input:checked+.ns-slider {
    @apply bg-linear-to-r from-accent-pink to-accent-blue;
  }

  .ns-toggle input:checked+.ns-slider::after {
    left: calc(100% - 10px);
  }

  .rgb-btn {
    @apply relative px-6 py-3 rounded-lg text-white font-medium overflow-visible bg-bg-tertiary;
  }

  /* borda animada */
  .rgb-btn::before,
  .rgb-input::before,
  [data-toggle-class].active .rgb-input::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;

    background: linear-gradient(90deg,
        var(--color-accent-pink),
        var(--color-accent-blue),
        var(--color-accent-green),
        var(--color-accent-lime),
        var(--color-accent-ted));

    background-size: 300% 300%;
    animation: rgb-border 6s linear infinite alternate;
    opacity: 0;
    transition: opacity 0.3s;

    z-index: -1;
  }

  /* máscara interna */
  .rgb-btn::after,
  .rgb-input::after,
  [data-toggle-class].active .rgb-input::after {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: inherit;
    z-index: -1;
  }

  .rgb-btn:hover::before,
  .rgb-input:hover::before,
  [data-toggle-class].active .rgb-input::before {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .content {
    @apply flex items-center gap-2 relative;
  }

  .icon {
    @apply transition-transform duration-300;
  }

  .icon-spin {
    @apply transition-transform duration-300
  }

  /* ícone flutuando */
  .group:hover .icon {
    animation: float-x 0.8s ease-in-out infinite alternate;
  }

  .spin-btn:hover .icon-spin {
    animation: rotate 1s linear infinite;
  }

}

@layer utilities {
  [data-toggle-class] label {
    transition: color .3s;
  }

  [data-toggle-class].active label {
    color: var(--color-content-brand);
  }
}

/* Utility classes */
@utility bg-shape {
  background-image: var(--shape-image);
}

@utility font-sora {
  font-family: 'Sora', sans-serif;
}

@utility font-roboto {
  font-family: 'Roboto Flex', sans-serif;
}

@utility font-mono {
  font-family: 'Roboto Mono', monospace;
}

@keyframes rgb-border {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@keyframes float-x {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(6px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}